<ion-header>
  <ion-toolbar>
    <ion-title>
     Current state: {{currentState}}
    </ion-title>
    <ion-title>
     Server ip: {{ip}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title [ngClass]="{'red': currentQR == 'red', 'green': currentQR == 'green', 'default': currentQR == 'default'}" style="height:100px;font-size: 20px;color:black;">
      Server response: {{serverResponse}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click) = "scan()">Scan</ion-button>
  <ion-button (click) = "newIp()">new Ip</ion-button>
</ion-content>
